:root{
    --primario1: hsl(215, 51%, 70%);
    --primario2: hsl(178, 100%, 50%);
    --bgprinc: hsl(217, 54%, 11%);
    --bgcard: hsl(216, 50%, 16%);
    --azulosc: hsl(215, 32%, 27%);
    --blanco: hsl(0, 0%, 100%);
    --texto: 'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: var(--bgprinc);
    font-family: var(--texto);
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    background-color: var(--bgcard);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    border-radius: 15px;

}

.img{
    background-image: url("../img/image-equilibrium.jpg");
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;   
    height: 300px;
    width: 300px;
}

.efecto-img{
    background-image: url(../img/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: var(--primario2);
    opacity: 0;
}

.efecto-img:hover{
    opacity: 0.50;
    cursor: pointer;
}

.texto{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
    height: 150px;
}

.texto > h1 {
    color: var(--blanco);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    letter-spacing: .5px;
}

.texto > h1:hover{
    color: var(--primario2);
    cursor: pointer;
}

.texto > p {
    color: var(--primario1);
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 20px;
    letter-spacing: .5px;
}

.price {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--blanco);
    padding-bottom: 10px;
}

.price-eth{
    display: flex;
    gap: 10px;
}

.dias-eth{
    display: flex;
    gap: 10px;
}

.cantidad{
    color: var(--primario2);
}

.dias{
    color: var(--primario1);
}

.created{
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 30px;

}

.created > div > img{
    height: 30px;
    border: 1px solid var(--blanco);
    border-radius: 50px;

}

.created > div > p {
    color:var(--primario1);
    letter-spacing: .3px;
}

.created > div > p > span{
    color: var(--blanco);
    letter-spacing: .3px;
}

.created > div > p > span:hover{
    color: var(--primario2);
    cursor: pointer;
}