:root {
    font-size: 16px;
}

body{
        font-family: 'Comfortaa', cursive;
        font-family: 
}

h1{
        color: silver;
        background-color: black;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 3rem;
}

h2{
    font-family: 'Nunito', sans-serif;
}


#div_temas{
    display: none ;
}

.product_cell{
    border: 2px solid silver; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 20px;
}

.product_cell:hover {
    border: 2px dashed black;
    box-shadow: 0px 0px 5px black;
    cursor: grab;
}

.product_cell:hover > img {
    opacity: 50%;
    border: 2px solid black;
}

.laptop > h2 {
    color: blue;
}

.laptop > h2::before {
    content: "💻 ";
}

.laptop > h3 {
    color: black;
    text-align: right;
    padding-right: 10px;
}

.audifono > h2 {
    color: cyan;
}

.audifono > h2::before {
    content: "🎧 ";
}

.audifono > h3 {
    color: black;
    text-align: right;
    padding-right: 10px;
}

.iphone > h2 {
    color: magenta;
}

.iphone > h2::before {
    content: "📱 ";
}

.iphone > h3 {
    color: black;
    text-align: right;
    padding-right: 10px;
}

.div_form{
    width: 400px;
    margin: 20px auto;
}

.div_form > form > input {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 65%;
    font-size: 20px;
    padding-left: 20px;
    outline: none;
}

.div_form > form > input:focus {
   border: 2px solid blue;

}

.div_form > form > button{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 25%; 
    outline: none;
}

.div_form > form > button:hover {
    background-color: #666;
    border: none;
    color: #fff;
    cursor: pointer;

 }

 .div_form > form > button:focus {
    border: 2px solid red;

 }

 .price::before {
    content: "$ ";
    font-size: 12px;
 }

 .price::after {
    content: ".00";
    font-size: 12px;
 }

 